<template>
    <div v-if="data">
        <div
            v-for="(alert, index) in data"
            :key="index"
            :class="getClass(alert.type)"
            class="text-sm"
        >
            {{ alert.content }}
        </div>
    </div>
</template>
<script setup lang="ts">
const props = defineProps<{
    data: any;
}>();

const getClass = (type: string) => {
    if (type === "info") {
        return "text-green-500";
    } else if (type === "warning") {
        return "text-yellow-500";
    } else if (type === "error") {
        return "text-red-500";
    }
};
</script>
