<template>
    <!-- class="columns-1 md:columns-2 lg:columns-3 2xl:columns-4 space-y-2"
        :style="{ maxHeight: tileHeight + 'px' }" -->
    <div
        v-if="data"
        class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5"
        :style="{ height: tileHeight }"
    >
        <!-- <p
            v-for="(scan, scanIndex) in data"
            :key="scanIndex"
            class="text-sm leading-4"
            ref="rows"
        >
            <span class="text-green-500">
                {{ scan.title }}
            </span>
            <br />
            <span class="text-white">
                {{ scan.description }}
            </span>
        </p> -->

        <div
            v-for="(chunk, chunkIndex) in chunks"
            :key="chunkIndex"
            class="text-sm space-y-2 relative leading-4 w-[330px]"
        >
            <p
                v-for="(scan, scanIndex) in chunk"
                :key="scanIndex"
                class="text-sm leading-4"
                ref="rows"
            >
                <span class="text-green-500">
                    {{ scan.title }}
                </span>
                <br />
                <span class="text-white">
                    {{ scan.description }}
                </span>
            </p>
        </div>
    </div>
</template>
<script setup lang="ts">
import { ref, watch, toRefs, computed } from "vue";

const props = defineProps<{
    data: any;
    tileWidth: number;
    tileHeight: number;
}>();

const { tileWidth, tileHeight, data } = toRefs(props);
const rows = ref();
const rowHeight = 40; // 40px
const columnWidth = 350; // 350px;

const computedRowHeight = computed(() => rows.value[0].clientHeight);

const rowsPerColumn = computed(() => Math.floor(tileHeight.value / rowHeight));
const columnsPerTile = computed(() =>
    Math.floor(tileWidth.value / columnWidth)
);

const chunks = computed(() => {
    const chunkSize = rowsPerColumn.value;
    const chunks = [];
    for (let i = 0; i < data.value.length; i += chunkSize) {
        chunks.push(data.value.slice(i, i + chunkSize));
    }
    return chunks.slice(0, columnsPerTile.value);
});

// watch(tile, (val) => {
//     console.log(val.clientHeight);
// });
const getGridClass = (columnsPerTile: number) => {
    if (columnsPerTile === 4) {
        return "grid-cols-4";
    } else if (columnsPerTile === 3) {
        return "grid-cols-2";
    } else if (columnsPerTile === 2) {
        return "grid-cols-3";
    }
};
</script>
