<template>
    <div v-if="data" class="space-y-4">
        <div>
            <span>Logged in as:</span>
            <p class="text-2xl text-green-500">{{ data.loggedInAs }}</p>
        </div>
        <div>
            <span>Position:</span>
            <p class="text-2xl text-green-500">{{ data.position }}</p>
        </div>
        <div>
            <span>Logged in time:</span>
            <p class="text-2xl text-green-500">{{ data.loggedInTime }}</p>
        </div>
    </div>
</template>
<script setup lang="ts">
defineProps<{
    data: any;
}>();
</script>
