<script setup lang="ts">
import { ref, onMounted, toRefs, watch, computed } from "vue";
import { ofetch } from "ofetch";
import type { Column } from "@/interfaces/LayoutInterface";
import UserStatusTemplate from "./templates/UserStatusTemplate.vue";
import Spinner from "./Spinner.vue";
import HtmlTemplate from "./templates/HtmlTemplate.vue";
import AlertsTemplate from "./templates/AlertsTemplate.vue";
import LastScannedTemplate from "./templates/LastScannedTemplate.vue";
import { useElementSize } from "@vueuse/core";

const props = defineProps<{
    column: Column;
}>();

const tile = ref(null);
const { width, height } = useElementSize(tile);

const data = ref([]);
const loading = ref(false);
const hasError = ref(false);
const { column } = toRefs(props);
const comp = ref("UserStatus");
const componentName = computed(() => {
    switch (column.value.template) {
        case "user_status":
            return UserStatusTemplate;
        case "html":
            return HtmlTemplate;
        case "alerts":
            return AlertsTemplate;
        case "last_scanned":
            return LastScannedTemplate;
        default:
            return null;
    }
});

const getInitialData = async () => {
    loading.value = true;
    if (!column.value.data.url) {
        hasError.value = true;
        console.error("No data url provided");
        return;
    }

    if (!column.value.data.sseTopic) {
        hasError.value = true;
        console.error("No SSE Topic url provided");
        return;
    }
    try {
        const fetchedData = await ofetch(column.value.data.url);
        data.value = fetchedData;
        console.log(data.value);
    } catch (error) {
        hasError.value = true;
        console.log(error);
    }
    loading.value = false;
};

const getMercureUrl = () =>
    import.meta.env.VITE_MERCURE_URL + "?topic=" + column.value.data.sseTopic;

const registerEventSource = () => {
    const eventSource = new EventSource(getMercureUrl());
    eventSource.onmessage = onMessage;
};

const onMessage = (event: any) => {
    const eventData = JSON.parse(event.data);
    console.log({ eventData });
    switch (eventData.action) {
        case "append":
            data.value.push(eventData.data);
            return;
        case "prepend":
            data.value.unshift(eventData.data);
            return;
        case "clear":
            console.log("Clearing data");
            data.value = [];
            return;
        default:
            data.value = eventData.data;
            return;
    }

    //   resetTimer();
};

watch(column, getInitialData);

onMounted(getInitialData);
onMounted(registerEventSource);
</script>

<template>
    <div class="h-full w-full bg-gray-700 text-gray-200 overflow-hidden">
        <div
            class="py-2 px-4 border-b border-gray-500 flex justify-between items-center"
        >
            <h2 class="uppercase text-xs tracking-widest">
                {{ column.title }}
            </h2>
            <div v-if="hasError" class="w-2 h-2 bg-red-500 rounded-full"></div>
            <!-- <div v-if="loading" class="w-2 h-2 bg-green-500 rounded-full"></div> -->
            <!-- <Spinner v-show="loading" /> -->
        </div>
        <div class="p-4 h-full" ref="tile">
            <component
                v-if="componentName"
                :is="componentName"
                :tile-width="width"
                :tile-height="height"
                :data="data"
            ></component>
        </div>
    </div>
</template>
