<template>
    <div class="bg-gray-800 h-screen w-screen">
        <div class="flex-col h-screen">
            <div
                v-for="(row, rowIndex) in layout"
                :key="rowIndex"
                class="flex h-1/2"
            >
                <div
                    v-for="(column, columnIndex) in row"
                    :key="columnIndex"
                    :class="column.widthClass"
                    class="h-full p-2"
                >
                    <SingleTile :column="column" />
                </div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import { inject, onMounted, ref } from "vue";
import { ofetch } from "ofetch";
import type { Layout } from "@/interfaces/LayoutInterface";
import SingleTile from "@/components/SingleTile.vue";

const layout = ref<Layout>([]);
let refreshTimer: any;

const getConfig = async () => {
    try {
        const data = await ofetch(import.meta.env.VITE_CONFIG_URL);
        await validate(data);
        layout.value = data.layout;
        window.document.title = data.meta.title;
    } catch (error) {
        console.error(error);
        throw new Error("Failed to load config");
    }
};

const setTimer = () => {
    const timeout = (import.meta.env.VITE_REFRESH_INTERVAL || 60) * 1000;
    refreshTimer = setInterval(() => {
        getConfig();
    }, timeout);
};

const resetTimer = () => {
    clearInterval(refreshTimer);
    setTimer();
};

const validate = async (data: any) => {
    if (!data.layout) {
        return Promise.reject("Layout not defined in config.json");
    }
    if (!Array.isArray(data.layout)) {
        return Promise.reject("Layout has invalid format");
    }
    if (!data.meta) {
        return Promise.reject("Meta not defined in config.json");
    }

    if (!data.meta.title) {
        return Promise.reject("Page title not defined in config.json");
    }

    return Promise.resolve(true);
};

onMounted(async () => {
    // loading.value = true;
    await getConfig();
    setTimer();
    // loading.value = false;
});
</script>

<style scoped></style>
